.navbar{
position:fixed;
  top: 0;
  width: 100%;
  min-height: 2rem;
  height:5rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  nav{
  display: flex;
  align-items: center;
  justify-content: center;

    .home{
      min-width: 10rem;
  color:white;
  margin-right: 16px;
  font-family: Domine, sans-serif;
  color: #ebebeb;
  font-size: 25px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}
    
  }
}

a{
  padding-left: 1rem;
  color: #969696;
text-decoration: none;
&:hover{
    color: #ebebeb; 
  }
}

.mobile{
  display:none;
}

#dropdown{
  display: none;
  position:fixed;
  width:100%;
  top: 5rem;
  background-color: #333;
  transition: 0.3s;
  text-align: center;
  div {
    height:1.5rem;
  }
}
 
@media only screen and (max-device-width: 480px) {
  .desktop{
    display:none;
  } 
  .mobile {
    display: block;
    overflow: hidden;
  }
}
.placeholder{
  height: 5rem;
}
