<div *ngFor="let post of filtered_posts">
  <div class="post"> 
    
<a class="headline" [routerLink]="['/post', post.url]" routerLinkActive="active" ariaCurrentWhenActive="page">
    <h2>{{post.title}}</h2>
</a>
    <p class="post-info">{{post.metadata}}</p>
  <div *ngIf="post.picture_path">
   <a class="headline" [routerLink]="['/post', post.url]" routerLinkActive="active" ariaCurrentWhenActive="page">

  <img class="post-picture" [src]="post.picture_path">
</a>
  </div>
    <p>{{post.abstract}}</p>
  <a class="button-round" [routerLink]="['/post', post.url]" routerLinkActive="active" ariaCurrentWhenActive="page">Continue reading →</a>
  <div>
</div>
