<div class="about">
  <div class="content">
  <h1>About me</h1>
<p>
As a passionate back-end software engineer, I am interested in challenging projects where I have the opportunity to solve complex problems with the help of algorithms.
 </p>
 <p>With this blog I am exploring a multitude of topics related to software engineering. This blog is mostly for myself to document my learning and tinkering with different technologies, but I am happy if someone else finds the information valuable.</p>
<a href="https://www.linkedin.com/in/maximilian-dierschke/" class="button">Get in touch</a>
  </div>
  <div class="myself">
    <app-profile/>
  </div>
</div>
